<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/signup" method="post" >
    
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

       <a href="/">Go back to login page</a>      <!-- just "/" to go back to login page-->

</body>
</html>




<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/signup" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

       <a href="/">Go back to login page</a>

</body>
</html>
-->

<!--
This HTML code represents a simple signup form for a web application. Let's break it down:

1. `<!DOCTYPE html>`: This declaration specifies the document type and version of HTML being used, which is HTML5.

2. `<html lang="en">`: This opening tag indicates the beginning of the HTML document and specifies that the language used is English.

3. `<head>`: This section contains meta-information about the document such as character set, viewport settings, and the title of the document.

   - `<meta charset="UTF-8">`: Specifies the character encoding for the document as UTF-8, allowing it to support a wide range of characters.
   - `<meta http-equiv="X-UA-Compatible" content="IE=edge">`: Provides instructions to the browser on how to render the webpage. In this case, it tells Internet Explorer to use the latest rendering engine available.
   - `<meta name="viewport" content="width=device-width, initial-scale=1.0">`: Sets the viewport to the width of the device's screen and initial scale to 1.0, which is necessary for responsive design.
   - `<title>Document</title>`: Sets the title of the webpage to "Document".

4. `<link rel="stylesheet" href="css/login.css">`: This line links an external CSS file named "login.css" to style the HTML elements within this document. This allows for separation of concerns, where the structure and content are defined in HTML, and the appearance is defined in CSS.

5. `<body>`: This section contains the visible content of the webpage.

   - `<h1>Sign Up</h1>`: Displays a heading "Sign Up" at the top of the page.
   - `<form action="/signup" method="post" >`: This tag defines a form that allows users to input data. It specifies that when the form is submitted, the data will be sent to the "/signup" URL using the HTTP POST method.

     - `<input placeholder="Name" name="name" type="text">`: This input field allows users to input their name. The "placeholder" attribute provides a hint to the user about what to enter, and the "name" attribute specifies the name of the input field when the form is submitted.
     - `<input placeholder="Password" name="password" type="password">`: This input field allows users to input their password. The "type" attribute is set to "password" to obscure the characters entered by the user.
     - `<input class="sub" type="submit">`: This input field represents a submit button that users can click to submit the form. The "class" attribute is set to "sub", which could be used to apply specific styling from the linked CSS file.

   - `<a href="/">Go back to login page</a>`: This is an anchor element (a link) that points to the "/" URL. When clicked, it will redirect users back to the login page.

6. `</body>`: Marks the end of the visible content of the webpage.

7. `</html>`: Marks the end of the HTML document.
-->